
@font-face {
  font-family: 'StudioBrushDEMO-Regular';
  src: url('StudioBrushDEMO-Regular.eot?#iefix') format('embedded-opentype'),  url('StudioBrushDEMO-Regular.otf')  format('opentype'),
	     url('StudioBrushDEMO-Regular.woff') format('woff'), url('StudioBrushDEMO-Regular.ttf')  format('truetype'), url('StudioBrushDEMO-Regular.svg#StudioBrushDEMO-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
	font-family: helvetica neue, helvetica;
	font-size: 12px;
	margin: 5px;
	padding: 5px;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	background-attachment: fixed;
  	color: #9f95ad;
}

header{
	text-align: center;
	margin-bottom: 50px;
}

header img{
	height: 65px;
	
}

.logo{
	height: 39px;
	margin: -12px auto;
	display: block;
	z-index: 1;
	position: absolute;
	top: 21px;
	right: 230px;
	opacity: 0.9;
	
}

.nav-bar{
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	box-shadow: 5px 5px 2px #9f95ad;
	background: rgba(246, 245, 243, 1);
}

.nav-bar:after{
	content: '';
	display: table;
	clear: both;
}

.nav-button1 img{
	margin: -12px auto;
	display: block;
	z-index: 1;
	position: absolute;
	top: 20px;
	right: 10px;
	height: 40px;
	opacity: 0.9;
	
}
.nav-button2 img{
	margin: -12px auto;
	display: block;
	z-index: 1;
	position: absolute;
	top: 20px;
	right: 120px;
	height: 40px;
	opacity: 0.9;
	
}

footer{
	clear: both;
	padding-top: 20px;
}

footer ul{
	list-style: none;

}

footer ul li{
	text-align: center;
}


footer a:link, a:visited{
	color: #abcea7;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 2px 2px 4px #f6f5f3;
}

footer a:hover, a:active{
	color: #c9a9bb;
	border-color: #c9a9bb;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #f6f5f3;
}

.index-footer{
	margin-top: 1200px;
}


.page-break-box{
	padding-top: 40px;
	margin: 0px;
	width: 100%;
	height: 475px;
	background-color: #abcea7;
	position: absolute;
	text-align: center;
	left: 0;
	top:718px;
	color:#abcea7;
	
	
}

.page-break-box img{
	height: 475px;
	margin-left: -100px;
	}

.index-content1 img{
    height: 610px;
    display:inline-block;
	position: absolute;
	left: 50%;
	margin-left: -504px;
	margin-top: 75px;

}

.page-break-box2{
	padding: 5px;
	margin: 0px auto;
	width: 100%;
	height: 50px;
	background-color: #abcea7;
	position: absolute;
	text-align: center;
	left: 0;
	top: 800px;
	color:#abcea7;
}

.about-content img{
	float: left;
	height: 500px;
	width: auto;
	margin-right: 10px;

}

.about-content-text{
	height: 500px;
	width: 750px;
	margin: 0 auto;
	margin-bottom: 220px;
	padding: 0 10px 0;
	text-align: left;
	background: rgba(246, 245, 243, 0.5);
	display: block;
	z-index: 2;
}

.about-content-text h1{
	font-family: 'StudioBrushDEMO-Regular';
	font-size: 75px;
	text-align: center;
	margin-bottom: 5px;
	color: #ccbfed;
}

.about-content2{
	display: block;
	margin: 0 auto;
	width: 100%;
	background-color: ##abcea7;
}

.abandon-quest-image{
	margin: 5 auto;
	display: block;
	z-index: 2;
	float: right;
}

.abandon-quest-p{
	clear:left;
	width: 750px;
	height: 200px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: left;
	background: rgba(246, 245, 243, 0.5);
	display: block;
	z-index: 2;
}

.abandon-quest-p a:link, a:visited{
	color: #abcea7;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 2px 2px 4px #f6f5f3;
}

.abandon-quest-p  a:hover, a:active{
	color: #c9a9bb;
	border-color: #c9a9bb;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #f6f5f3;
}

.contact-content{
	text-align: center;
}

.contact-content a:link, a:visited{
	color: #abcea7;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 2px 2px 4px #f6f5f3;
}

.contact-content a:hover, a:active{
	color: #c9a9bb;
	border-color: #c9a9bb;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #f6f5f3;
}

.contact-content img{
	height: 100px;
	width: 100px;
	display:block;

}

.contact-content ul{
	list-style: none;
}

.contact-content li{
	padding: 5px;
	display: inline-block;
}

.contact-content h1{
	font-family: 'StudioBrushDEMO-Regular';
	font-size: 75px;
	color: #ccbfed;
}

.contact-content h2 a:hover, a:active{
	font-size: 20px;
	text-shadow: 2px 2px 4px #f6f5f3;

}

.contact-content2{
	width: 500px;
	text-align: left;
	position: absolute;
	padding: 3px;

}

.contact-form{
	background: rgba(246, 245, 243, 0.5);
	height: 1000px;
	width: 50%;
	float: right;
	margin: 0;
	margin-left: 25px;

}

.contact-form-text{
	width: 400px;
	height: 600px;
	padding: 130px 25px 75px;
}

.contact-form h2{
	text-align: center;
	font-family: 'StudioBrushDEMO-Regular';
	font-size: 40px;
	margin-left: 50px;
	color: #ccbfed;
}

.contact-form .item{
	float: left;
	width: 200px;
	margin-left: 40px;
}
.contact-form label{
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}
.contact-form input[type='text']{
	display: block;
	font-size: 20px;
	width: 400px;
	height: 80px;
	padding-left: 10px;
}

button.cta{
	font-size: 20px;
	font-weight: bold;
	color:#f6f5f3;
	background-color: #abcea7;
	display: inline-block;
	box-shadow: 10px 10px 5px #5b5b5b;
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 140px;
	cursor: pointer;
	outline: none;
	border: none;
	width: 200px;
}

button.cta:active{
	background-color: #c9a9bb;
}

button.cta:hover{
	background-color: #c9a9bb;
}

.work-content h2{
	text-align: center;
	font-size: 25px;
	text-shadow: 2px 2px 4px #f6f5f3;
}

.work-content h1{
	text-align: center;
	text-shadow: 2px 2px 4px #f6f5f3;
	font-family: 'StudioBrushDEMO-Regular';
	font-size: 75px;
	color: #ccbfed;
}

.work-content p{
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	text-shadow: 2px 2px 4px #f6f5f3;
}

.work-content a:link, a:visited{
	color: #abcea7;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 2px 2px 4px #f6f5f3;
}

.work-content a:hover, a:active{
	color: #c9a9bb;
	border-color: #c9a9bb;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #f6f5f3;
}

#container {
 width: 1000px;
 overflow: hidden;
 margin: 50px auto;
 background: white;
}

.photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 80px;
}

.first {
 -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
     -ms-animation: bannermove 30s linear infinite;
      -o-animation: bannermove 30s linear infinite;
         animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

.photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 80px;
}
 
.photobanner img {
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}
 
.photobanner img:hover {
 -webkit-transform: scale(1.5);
 -moz-transform: scale(1.5);
 -o-transform: scale(1.5);
 -ms-transform: scale(1.5);
 transform: scale(1.5);
 cursor: pointer;
 
 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.popup{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

}

.popup.show{
	display: block;
}

.popup .blanket{
	background-color: rgba(0,0,0,.5);
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.popup-content{
	box-sizing: border-box;
	width: 960px;
	height: 540px;
	padding: 30px 40px;
	background-color: #f6f5f3;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -480px;
	margin-top: -270px;
	z-index: 3;

}

.popup .close{
	width: 40px;
	height: 40px;
	color: #c9a9bb;
	background: #abcea7;
	font-size: 30px;
	font-weight: 800;
	top: -20px;
	right: -20px;
	border-radius: 50%;
	border: none;
	outline: none;
	position: absolute;
	cursor: pointer;
}












