html, body{
	font-family: helvetica neue, helvetica;
	font-size: 12px;
	margin: 5px;
	padding: 5px;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	background-attachment: fixed;
}

header{
	text-align: center;
	margin-bottom: 100px;
}

.logo{
	display: block;
	z-index: 1;
	position: absolute;
	top: 5px;
	
}

.nav-bar{
	padding: 5px;
	margin: 20px auto;
	width: 100%;
	background-color: white;
	opacity: 0.5;
	position: absolute;
}

.nav-bar:after{
	content: '';
	display: table;
	clear: both;
}

.nav-buttons a{
	margin: 0 auto;
	border: outset 5px;
	border-color: #d4d4d6;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px 20px 5px;
	display: inline-block;
	width: 100px;
}

.nav-buttons a:link, a:visited{
	color: black;
}

.nav-buttons a:hover, a:active{
	background-color: #fce8eb;
	color: #4a721a;
	border-color: #b8bf54;
	opacity: 0.5;
}


footer{
	clear: both;
	padding-top: 20px;
}

footer ul{
	list-style: none;

}

footer ul li{
	text-align: center;
}

.index-content1{
	margin-top: 200px;
	text-align: center;
}

.index-content1 h1{
	display: inline-block;
	position: absolute;
	top: 13px;
	right: 20px;
	font-size: 125px;
	text-align: left;
	opacity: 0.7;
	color:#9ed114;
	z-index: 1;

}

.index-content1 img{
	width: 750px;
	height: 600px;
	opacity: 0.5;
	margin-bottom: 40px;
}
.name-is{
	font-size: 75px;
	color:#9f95ad;
	z-index: 1;
}


.i-am{
	display: inline-block;
	font-size: 50px;
	text-align: left;
	opacity: 0.7;
	position: absolute;
	top: 480px;
	left: 20px;
	color: #c9a9bb;
	z-index: 1;

}

.photographer{
	display: inline-block;
	font-size: 50px;
	text-align: left;
	opacity: 0.7;
	position: absolute;
	top: 550px;
	left: 100px;
	color: #abcea7;
	z-index: 1;

}

.illustrator{
	display: inline-block;
	font-size: 65px;
	text-align: left;
	opacity: 0.7;
	position: absolute;
	top: 660px;
	left: 339px;
	color: #abcea7;
	z-index: 1;

}

.painter{
	display: inline-block;
	font-size: 75px;
	text-align: left;
	opacity: 0.7;
	position: absolute;
	top: 550px;
	left: 530px;
	color: #9f95ad;
	z-index: 1;

}

.graphic{
	display: inline-block;
	font-size: 50px;
	text-align: left;
	opacity: 0.7;
	position: absolute;
	top: 638px;
	left: 144px;
	color: #c9a9bb;
	z-index: 1;

}

.index-content2{
	width: 750px;
	margin: 0 auto;
}

.about-content img{
	float: left;
	margin: 5px 20px 20px 15%;

}

.abandon-quest-image{
	clear:left;
	float: right;
	margin: 5px 20% 20px 20px;
}

.abandon-quest-p{
	clear:left;
	width: 600px;
	margin: 0 auto;
}

.about-content-text{
	width: 600px;
	margin: 0 auto;
}