
html, body{
	font-family: novecento-sans, sans-serif;
	font-size: 16px;
	margin: 5px;
	padding: 5px;
  	color: #00aeef;
}

header{
	text-align: center;
	margin-bottom: 50px;
}

header img{
	height: 65px;
}

nav{
	width: 100%;
	height: 150px;
	position: absolute;
	left: 0;
	box-shadow: 5px 5px 2px #e65788;
	margin-top: -20px;
	background-color: #ffffff;
}

nav:after{
	content: '';
	display: table;
	clear: both;
}

nav img{ 
	height: 50px;
}

nav ul{
	list-style: none;
	overflow:hidden;

}

nav ul li{
	text-align: right;
	padding: 10px;
	float: right;
	margin-top: 12px;
}

nav ul li a{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;

}

nav ul li a:link, a:visited{
		color: #fbb040;
		text-decoration: none;

}

nav ul li a:hover, a:active{
		color: #e65788;
		text-decoration: none;

}

.home img{
	height: 74px;
	margin-top: -23px;
} 

footer{
	clear: both;
	padding-top: 20px;
}

footer ul{
	list-style: none;

}

footer ul li{
	text-align: center;
}


.logo{
	text-align: left;
	padding: 10px;
	float: left;
	margin-top: 12px;
}

.logo img{
	height: 125px;
	margin-top: -23px;
}

.index-footer{
	margin-top: 1200px;
}


.page-break-box{
	padding-top: 40px;
	margin: 0px;
	width: 100%;
	height: 475px;
	background-color: rgba(249, 237, 50, 1);
	position: absolute;
	text-align: center;
	left: 0;
	top:718px;
	color:#11cc84;
	
	
}

.page-break-box img{
	height: 475px;
	margin-left: -100px;
	}

.index-content1 img{
    height: 610px;
    display:inline-block;
	position: absolute;
	left: 45%;
	margin-left: -504px;
	margin-top: 75px;

}

.page-break-box2{
	padding-top: 40px;
	margin: 0px;
	height: 570px;
	width: 100%;
	background-color: rgba(249, 237, 50, 1);
	position: absolute;
	text-align: center;
	left: 0;
	top:718px;
}

.page-break-box2-text{
	width: 750px;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	background: #00aeef;
	display: block;
	z-index: 2;
	border-radius: 20px 0px 0px 0px;
	color: rgba(249, 237, 50, 1);
}


.about-content img{
	float: left;
	height: 500px;
	width: auto;
	margin-right: 50px;

}

.about-content-text{
	height: 500px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 0 10px 0;
	text-align: left;
	color: #00aeef;;
	display: block;
	z-index: 2;
}

.about-content-text h1{
	font-family: novecento-sans-condensed, sans-serif;
	font-size: 75px;
	margin-bottom: 5px;
	color: rgba(249, 237, 50, 1);
}

.about-content2{
	display: block;
	margin: 0 auto;
	width: 100%;
	background-color: #11cc84;

}

.about-footer{
	margin-top: 600px;
}


.contact-content{
	text-align: center;
}

.contact-content a:link, a:visited{
	color: #fbb040;
	text-decoration: none;
}

.contact-content a:hover, a:active{
	color: #e65788;
	text-decoration: none;
}

.contact-content img{
	height: 50px;
	width: 50px;

}

.contact-content h1{
	font-family: novecento-sans-condensed, sans-serif;
	font-size: 75px;
	color: #00aeef;
}


.contact-content blockquote{
	font-family: novecento-sans-condensed, sans-serif;
	font-size: 75px;
	margin-bottom: 5px;
	color: rgba(249, 237, 50, 1);

}

.socialmedia ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	padding: 0;
}

.socialmedia{
	text-align: center;
}

.contact-form{
	font-family: novecento-sans, sans-serif;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	background: #00aeef;
	display: block;
	z-index: 2;
	border-radius: 20px 0px 0px 0px;
	color: rgba(249, 237, 50, 1);

}

.contact-form-text{
	padding: 25px;
	font-family: novecento-sans, sans-serif;
}

.contact-form h2{
	text-align: center;
	font-family: novecento-sans-condensed, sans-serif;
	font-size: 40px;
	margin-left: 50px;
	color: rgba(249, 237, 50, 1);
}

.contact-form .item{
	width: 200px;
}
.contact-form label{
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}
.contact-form input[type='text']{
	display: block;
	font-family: novecento-sans, sans-serif;
	width: 200px;
	height: 50px;
	padding-left: 10px;
	border-style: none;
	border-radius: 20px 0px 0px 0px;
}

.left{
	float: left;
}

.right{
	float: right;
}

button.cta{
	font-size: 20px;
	font-weight: bold;
	color:#f6f5f3;
	background-color: #fbb040;
	display: inline-block;
	padding: 20px 30px;
	border-radius: 20px 0px 0px 0px;
	text-decoration: none;
	margin: 100px;
	cursor: pointer;
	outline: none;
	border: none;
	width: 200px;
}

button.cta:active{
	background-color: #e65788;
}

button.cta:hover{
	background-color: #e65788;
}

.contact-footer{
	margin-top: 600px;
}


